

.jumbofun{
  background-image: url("./assets/tech.jpg");
  background-position: center;
  background-size: cover;

}



body{
  background-image: url("./assets/building.jpg")
}



  
.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

.facecard {

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: 50px;

}

h1{
font-family: 'Times New Roman', Times, serif;
}